<div class="container">
  <div class="row mt-4 g-0" [ngStyle]="{'border-top': '1px solid #D3D3D3' }" cdkDropListGroup>
    <div class="col" [ngStyle]="{'maxWidth': '300px'}" *ngFor="let section of sections">
      <status-container [name]="section" [currentUser]="currentUser" [jobs]="jobs"></status-container>
    </div>
  </div>
</div>
<!-- <mat-grid-list cols="3" [ngStyle]="{'margin': '30px 40px 0'}" [gutterSize]="'40px'">
    <mat-grid-tile class="bordered" *ngFor="let section of sections">
      <app-status [name]="section"></app-status>
    </mat-grid-tile>
  </mat-grid-list> -->