.card-width {
    width: 100%;
}

.job-button {
    justify-content: flex-end;
}

.x {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.y {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.company-image {
    width: 100%;
    border-radius: 100%;
    background-color: white;
}
