<div class="status-container p-3">
  <div id='status-header' class='container center'>
    <h1 id='section-name'>{{name}}</h1>
    <h3 id='jobs'>{{jobs.length}} Jobs</h3>
  </div>
  <div>
    <button mat-raised-button class="add-btn" (click)="openDialog()">Add</button>
  </div>
  <div cdkDropList class="drop-box" id={{name}} [cdkDropListData]="jobs" (cdkDropListDropped)="drop($event)">
    <div class="mt-2 mb-2 j-box" *ngFor="let job of jobs" (cdkDragStarted)="handleDragStart($event)"
      (click)="jobClick($event, job)" cdkDrag>
      <job [job]=job></job>
    </div>
  </div>
</div>